<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Um pouco sobre o que nos somos</h1>
      <p>Não somos tanta coisa então nem vou colocar nada</p>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>