<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Fale conosco </h1>
      <p>Email : email@gmail.com</p>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>