<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Portfolio da empresa empresarial</h1>
      <p>Nós somos as pessoas mais pessoais</p>
      <p>E na nossa empresa, sempre que precisar de um projeto, lembre-se, dinheiro não é tudo mas é 100%</p>
    </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>